.navbar {
  background-color: white !important;
  align-items: center;
  /* border-bottom: 1pt solid black; */
}

.navbar-brand {
  color: black !important;
  font-size: 18pt;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-kerning: 10pt !important;
}

.nav-item a {
  color: black !important;
}
